<div class="row">
  <div class="col-md-6">
      <div class="card card-body">
          <h3 class="box-title m-b-0">Médico: Nombre del Médico</h3>
          <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p>
          <div class="row">
              <div class="col-sm-12 col-xs-12">
                  <form #form="ngForm" ngNativeValidate (ngSubmit)="crearMedico(form)">
                      <div class="form-group">
                          <label>Nombre</label>
                          <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del médico" required>
                      </div>

                      <div class="form-group">
                        <label>Hospital</label>
                        <select [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                          <option value="">Seleccione hospital</option>
                          <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{ hospital.nombre}}</option>
                        </select>
                    </div>

                      <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>Guardar</button>
                      <button routerLink="/medicos" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  
  <div class="col-md-3">
    <div class="card card-body">
      <h4 class="box-title m-b-0">Hospital</h4>
      <img src="" alt="">
    </div>
  </div>

  <div class="col-md-3">
    <div class="card card-body">
      <h4 class="box-title m-b-0">Imagen médico</h4>
      <img src="" alt="">
    </div>
  </div>
</div>
