<div class="row animated fadeIn">
  <div class="col-lg-7">
  <div class="card">
    <div class="card-body">
        <h4 class="card-title">Perfil de usuario</h4>
        <h6 class="card-subtitle">Nombre de usuario</h6>

        <form ngNativeValidate #form="ngForm" (ngSubmit)="guardar(form.value)" class="form p-t-20">
            <div class="form-group">
                <label for="exampleInputuname">Nombre de usuario</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input [ngModel]="usuario.nombre" name="nombre" class="form-control" placeholder="Nombre de usuario" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-email"></i></div>
                    <input [ngModel]="usuario.email" [disabled]="usuario.google" name="email" class="form-control" placeholder="Introduce tu email" type="email" required>
                </div>
            </div>

            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i>
              Guardar
            </button>
        </form>
    </div>
  </div>
  </div>

  <div class="col-lg-5">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">Foto del usuario</h4>
            <h6 class="card-subtitle">Nombre del usuario</h6>
            <img src="">
            <input (change)="seleccionImagen($event.target.files[0])" type="file">
            <br><br>
            <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                <i class="fa fa-save"></i>
                Actualizar foto
              </button>
        </div>
      </div>
  </div>  
</div>